---
---

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

@import "minima";

body {
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

.page-content .wrapper {
  max-width: 650px;
}

.site-header {
  text-align: center;
}

.site-header .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 42px;
  font-weight: 500;
  max-width: none;
  width: 150%;
}

.site-nav {
  position: static;
  float: none;
}

.site-nav .trigger {
  display: block;
}
